.search-results {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.results-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.top-row {
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 1.4rem;
  align-items: start;
}

.bottom-row {
  width: 100%;
} 