.pet-history {
    background: var(--bg-white);
    border-radius: 24px;
    padding: 1.5rem 2rem;
}

.history-content {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.history-content h2 {
    color: var(--text-primary);
    font-size: 16px;
    text-align: left;
    margin: 0;
}

.visits-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.visit-card {
    background: var(--bg-lighter-grey);
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.visit-card:hover {
    box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.visit-info-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    align-items: start;
}

.visit-header {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    text-align: left;
}

.visit-details {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    text-align: right;
}

.visit-date {
    color: var(--text-primary);
    font-weight: 700;
    font-size: 12px;
}

.visit-time {
    color: var(--text-secondary);
    font-size: 12px;
}

.visit-reason {
    color: var(--text-primary);
    font-weight: 500;
    font-size: 12px;
}

.visit-vet {
    color: var(--text-secondary);
    font-size: 12px;
}

.visit-card-divider {
    border: none;
    height: 1px;
    background: var(--text-secondary);
    margin: 0.5rem 0;
    width: 100%;
    opacity: 0.5;
}

.schedule-visit-btn {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 50px;
    background: var(--brand-pink);
    color: var(--text-dark);
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
    align-self: flex-end;
    border: none;
}

.schedule-visit-btn:hover {
    opacity: 0.9;
    box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.schedule-visit-btn:focus {
    outline: none;
}

.visit-examinations {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.examination-tag {
    font-size: 10px;
    font-weight: 500;
    padding: 0.3rem 0.6rem;
    border-radius: 50px;
    color: var(--text-dark);
}

.examination-tag.blood-test {
    background: #ffd6e9;
}

.examination-tag.usg {
    background: #dbf2b5;
}

.examination-tag.rtg {
    background: #c2dffb;
}

.examination-tag.vaccination {
    background: #ffe2b3;
}